* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial";
}

h3 {
  color: white;
}

h2 {
  color: white;
}

.redText {
  color: #f23333;
}

.app {
  width: 100%;
  height: 160vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.add-form {
  background-color: black;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding-top: 15px;
}

.inputForm {
  padding: 5px;
  border-radius: 10px;
  border-width: 2px;
  width: 450px;
  margin-left: 20px;
}

.inputForm:focus {
  border-color: #116ee0;
  outline: 0 none;
}

.logo {
  background-color: black;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 3rem;
  color: white;
  padding: 2.4rem 0;
}

.authors {
  word-spacing: 7.5px;
  font-size: 24px;
}

.centreText {
  font-size: 20px;
  padding-bottom: 20px;
}

.guessResultText {
  font-size: 15px;
  margin-left: 5px;
}

input {
  background-color: black;
  border-color: white;
  color: white;
  border-width: 0.1px;
  font-family: inherit;
  border-radius: 0.3rem;
  font-size: 1.8rem;
}

.menu {
  background-color: black;
  align-items: center;
  padding-bottom: 100px;
}

.labelMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 10px;
  color: white;
  background-color: black;
}

.guessLabel {
  border: 1px solid gray;
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: 20px;
}

.guessMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: white;
  background-color: black;
}

.guess {
  border: 1px solid #30353c;
  background-color: #30353c;
  color: #30353c;
  margin-bottom: 5px;
  margin-right: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
}

.labelLeft {
  margin-left: 5px;
  border-radius: 10px 0 0 10px;
  padding: 10px 75px 10px 75px;
}

.labelMid {
  padding: 10px;
  padding: 10px 15px 10px 15px;
}

.labelRight {
  border-radius: 0 10px 10px 0;
  padding: 10px 50px 10px 50px;
}

.dropDown {
  background-color: #30353c;
  border-radius: 5px;
  width: 630px;
  z-index: 888;
  position: absolute;
  top: 340px;
  border: 1px solid black;
  max-height: 390px;
  overflow-y: auto;
}

.menuItem {
  font-size: 16px;
  padding: 2.5px 10px 2.5px 10px;
  border-radius: inherit;
}

.menuItem:hover {
  background-color: #18191a;
}

.horizontalDiv {
  display: flex;
  flex-direction: row;
}

.counter {
  padding: 15px 20px 15px 25px;
  font-size: 20px;
  width: 120px;
}

.guessButton {
  background-color: #116ee0;
  border-radius: 10px;
  padding: 15px 30px 15px 30px;
  color: white;
  font-weight: 1000;
  border: none;
  font-size: 16px;
}

.guessButton:hover {
  cursor: pointer;
}

.headerImageLeft {
  width: 75px;
  height: 75px;
  margin-top: 15px;
  margin-right: 200px;
}

.headerImageRight {
  width: 60px;
  height: 60px;
  margin-top: 22.5px;
  margin-left: 10px;
}
.headerImagegen {
  width: 60px;
  height: 60px;
  margin-top: 22.5px;
  margin-left: 100px;
}

.headerImageRight:hover {
  cursor: pointer;
}

.shadowBackground {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  z-index: 999;
  visibility: hidden;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 160%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invisible {
  visibility: hidden;
}

.instructions {
  background-color: black;
  border: 1px solid gray;
  border-radius: 10px;
  width: 675px;
  padding: 15px;
  position: absolute;
  top: 50px;
}

.options {
  background-color: black;
  border: 1px solid gray;
  border-radius: 10px;
  width: 675px;
  padding: 15px;
}

.optionMenu {
  /*display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: white;
    background-color: black;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 10px;
  color: white;
  background-color: black;
}

.optionText {
  font-size: 22px;
  text-align: center;
}

.instructionText {
  font-size: 22px;
  padding-top: 5px;
  padding-bottom: 20px;
  text-align: left;
}

.correct {
  background-color: #5be38b;
  color: #5be38b;
}

.partial {
  background-color: #ffc700;
  color: #ffc700;
}

.instructionsButton {
  background-color: #116ee0;
  border-radius: 20px;
  padding: 15px 100px 15px 100px;
  color: white;
  font-weight: 1000;
  border: none;
  font-size: 16px;
  margin-bottom: 10px;
}

.instructionsButton:hover {
  cursor: pointer;
}

.closeButton {
  font-size: 24px;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.closeButton:hover {
  cursor: pointer;
}

.title {
  padding-bottom: 25px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.concedeButton {
  background-color: #116ee0;
  border-radius: 10px;
  padding: 15px 75px 15px 75px;
  color: white;
  font-weight: 1000;
  border: none;
  font-size: 16px;
  margin-top: 20px;
  visibility: hidden;
}

.concedeButton:hover {
  cursor: pointer;
}

.padding30 {
  padding: 30px;
}

.resultImage {
  width: 150px;
  height: 150px;
  margin: 20px;
  margin: 45px 20px 0px 50px;
}

.guessImage {
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
}

.leftMargin {
  margin-left: 50px;
}

.error {
  color: red;
  text-align: left;
}

#errorMessage {
  color: red;
}
