* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*h1 {
  text-align: center;
  background-color: black;
  font-family: "Lucida Console";
  font-size: 3rem;
  color: white;
  word-spacing: 30px;
  letter-spacing: -5px;
  padding: 2.4rem 0;
}
*/
h3 {
  color: white;
  font-family: "Lucida Console";
}

.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.add-form {
  background-color: black;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.logo {
  background-color: black;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Lucida Console";
  font-size: 3rem;
  color: white;
  word-spacing: 30px;
  letter-spacing: -5px;
  padding: 2.4rem 0;
}

.logo p {
  word-spacing: 10px;
  font-size: 2rem;
}

input {
  background-color: black;
  border-color: white;
  color: white;
  border-width: 0.1px;
  font-family: inherit;
  border-radius: 0.3rem;
  font-size: 1.8rem;
}

.menu {
  background-color: black;
  align-items: center;
}

.labels {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 10px;
  color: white;
  background-color: black;
  font-family: "Lucida Console";
}

.guessLabelLeft {
  border: 1px solid gray;
  border-radius: 10px 0 0 10px;
  padding: 10px 75px 10px 75px; /* top, right, bottom, left */
  margin-right: 5px;
  margin-bottom: 10px;
}

.guessLabelMid {
  border: 1px solid gray;
  padding: 10px;
  margin-right: 5px;
  padding: 10px 15px 10px 15px;
  margin-bottom: 10px;
}

.guessLabelRight {
  border: 1px solid gray;
  border-radius: 0 10px 10px 0;
  padding: 10px 50px 10px 50px;
  margin-bottom: 10px;
}

.guesses {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: white;
  background-color: black;
  font-family: "Lucida Console";
}

.guessLeft {
  border: 1px solid #30353c;
  background-color: #30353c;
  color: #30353c;
  border-radius: 10px 0 0 10px;
  padding: 10px 75px 10px 75px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.guessMid {
  border: 1px solid #30353c;
  background-color: #30353c;
  color: #30353c;
  padding: 10px;
  margin-right: 5px;
  padding: 10px 15px 10px 15px;
  margin-bottom: 10px;
}

.guessRight {
  border: 1px solid #30353c;
  background-color: #30353c;
  color: #30353c;
  border-radius: 0 10px 10px 0;
  padding: 10px 50px 10px 50px;
  margin-bottom: 10px;
}
